
body {margin:0px; padding:0px; font-family:'Swis721CnBTRoman', Arial, Helvetica, Sans-serif, Serif; font-size:14px; /*background:#f7fbfe;*/ background:#FFF; min-width:1000px; overflow:auto;}

/* :::::: Customize Font Section Begins :::::: */

@font-face {
    font-family: 'Swis721CnBTBold';
    src: url('../fonts/swz721bc-webfont.eot');
    src: url('../fonts/swz721bc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swz721bc-webfont.woff') format('woff'),
         url('../fonts/swz721bc-webfont.ttf') format('truetype'),
         url('../fonts/swz721bc-webfont.svg#Swis721CnBTBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Swis721BTRoman';
    src: url('../fonts/swz721n-webfont.eot');
    src: url('../fonts/swz721n-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swz721n-webfont.woff') format('woff'),
         url('../fonts/swz721n-webfont.ttf') format('truetype'),
         url('../fonts/swz721n-webfont.svg#Swis721BTRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Swis721CnBTRoman';
    src: url('../fonts/swz721c-webfont.eot');
    src: url('../fonts/swz721c-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swz721c-webfont.woff') format('woff'),
         url('../fonts/swz721c-webfont.ttf') format('truetype'),
         url('../fonts/swz721c-webfont.svg#Swis721CnBTRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Swis721CnBTItalic';
    src: url('../fonts/swz721ci-webfont.eot');
    src: url('../fonts/swz721ci-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swz721ci-webfont.woff') format('woff'),
         url('../fonts/swz721ci-webfont.ttf') format('truetype'),
         url('../fonts/swz721ci-webfont.svg#Swis721CnBTItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* :::::: Customize Font Section Ends :::::: */


/* :::::: Global Section Begins :::::: */

#wrapper {width:100%; position:relative; margin:0px auto; overflow:hidden;}
ul {list-style:none; margin:0px; padding:0px;}
strong {font-family:'Swis721CnBTBold'; font-size:13px; color:#666;}
.currentstate{margin-left:2.5%;}
.strongnav{color:#f1954b}
.current{float:left;}
.arrow-link1, .auick-add1, .arrow-link {background:#2b96c9; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; display:inline-block; padding:3px 10px; color:#FFF; text-decoration:none;}

a{color:#ef8013; text-decoration:none; outline:none;}
.rightalign, .search-btn1 {float:right;}
.btn2{margin-top:12px;margin-right:13px;}
.orangetext{color:#EF8013;}

				/*-------search content added by jaymin-----------------*/
.leftalign {float:left;}
.searchbody{border-bottom: 1px solid #D4D4D4; border-top: 1px solid #D4D4D4;margin-bottom: 0px;margin-bottom:20px;}
.searchcontent{width:100%}
.leftalignsearch{width:37%;float:left;border-right:1px solid #d4d4d4; padding:16px 0px;;}
.rightalignsearch{width:62%;float:left;margin-top:0px;padding:16px 0px;position:relative; border-left:1px solid #d4d4d4;left:-1px;}
.normaltext{float:right;font-weight:bold;margin-right:27px;color:#EF8013;}

.list{height:38px;margin-left:2.5%;margin-bottom:22px;margin-top: 2.75%;}
.tabcontent{margin-top:-1px;}
.rightbox{border: 1px solid #D4D4D4;margin-left: 2.5%;margin-top: -20px;padding-top: 20px;width: 95%;}
.head-one{padding-left:2px;}
.rightalignsearch ul{margin:0 0 0 14px;}
.rightalignsearch ul li {float: left;margin-top:9px;margin-left:-1px;}
.rightalignsearch ul li a {
    background: none repeat scroll 0 0;color: #787878;background:#ededed;float: left;padding: 4px 25px;border-color: #DBDBDB #DBDBDB #FFFFFF;border:1px solid #d4d4d4;}
.rightalignsearch ul li.active a {
    -moz-border-bottom-colors: none;-moz-border-image: none;-moz-border-left-colors: none;-moz-border-right-colors: none;
    -moz-border-top-colors: none;border-color: #DBDBDB #DBDBDB #FFFFFF;border-style: solid;border-width: 1px; color: #EF8013;background:white;}
.tabcontent ul li{
	float:none;font-size:12px;border-bottom:1px solid #d4d4d4;}
.searchFormStyle{border-top: 1px solid #D4D4D4;width:95%;margin-left: 2.5%;margin-bottom: 2%;}
.txtarea{border: 1px solid #D4D4D4;border-radius: 3px 3px 3px 3px;margin-left: 2.5%;max-width:96%;height:100%;width:96%;min-width:96%;}
.clearall {clear:both;}
h1, h2, h3 {margin:0px; padding:0px;}
p {margin:5px 0px 15px; padding:0px;}
.aligncenter {text-align:center;}
.font-xx {font-size:24px; }
.fbold {font-weight:bold; }
.font-color1 {color:#15b6f2;}
input, textarea, select {font-family:'Swis721CnBTRoman', Arial, Helvetica, Sans-serif, Serif; font-size:14px;}
.none, .tr-desc {display:none;}
h2 {font-size:14px; margin:5px 0px; color:#2faee2; font-weight:bold; }
#search-filter-wrap.fixed {position:fixed; top:0px; left:0px; right:0px; padding:10px; border-bottom:1px solid #b8b9b9; background:#f5f5f5;}
#search-filter-wrap.fixed .search-box, #search-filter-wrap.fixed .input-txt {background:#FFF;}
.list-contnt-wrap.fixed {/* position:fixed; */ top:0px; left:0px; right:0px; padding:10px; border-bottom:1px solid #b8b9b9; background:#fff; /* z-index:200; */ margin-top:0px; height:18px;}
/* :::::: Global Section Ends :::::: */


/* :::::: Header Section Begins :::::: */

#hdr-wrap {height:55px; overflow:hidden; border-bottom:1px solid #d8eaf6; background:#FFF;}
#logo a {background:url(../images/logo.gif) no-repeat top left; width:131px; height:31px; float:left; margin:12px 8px 0px;}

#nav {float:left; margin:20px 10px 0px; }

#nav ul li  {float:left; margin:0px 10px;}
#nav ul li a {color:#3e647e; text-decoration:none; font-family:'Swis721CnBTRoman'; font-size:16px;}
#nav ul li a:hover  {color:#ef8013; text-decoration:none;}
#nav ul li a.active  {color:#ef8013; text-decoration:none;}

#top-link {float:right; margin:20px 10px 0px; }
#top-link  ul li  {float:left; margin:0px 5px; font-family:'Swis721CnBTRoman'; font-size:14px;}
#top-link  ul li  span{color:#000; font-weight:normal; }
#top-link ul li a {color:#ef8013; text-decoration:none; }

/* :::::: Header Section Ends :::::: */


/* :::::: Content Section Begins :::::: */

#contnt-wrap {min-height:835px; background:#FFF; position:relative;}



.sidebar-top {width:140px; margin-left:20px; background:#e6f1f9; color:#3d9fce; font-size:20px; border-bottom-left-radius: 10px; -moz-border-radius-bottomleft:10px; -webkit-border-bottom-left-radius:10px; padding:15px; text-align:center; font-family:'Swis721CnBTRoman'; margin-right:1px;}


#contnt { padding:10px; font-size:14px; color:#5a5b5b; line-height:22px;}
.desc {padding:5px 0px;}
.desc-top {padding:5px 0px;}
.desc-top .rightalign {margin-top:5px; font-size:13px;}
.lightgreybg {padding:10px 15px; /*background:#f2f3f4;*/  border-top:1px dotted #d0d1d1; margin:0px -10px;} 
.normalbg {padding:10px 15px; background:#FFF;  border-top:1px dotted #d0d1d1; margin:0px -10px;} 

.profile-bg {width:79px; height:79px; background:url(../images/profile-bg.jpg) no-repeat top left; padding:4px; float:left;}
.profile-desc {margin-left:0px;}

.bg-color2 {margin:10px 0px; padding:10px; background:#d8eaf6; border:1px dashed #90acbe; color:#3e647e;}
.bg-color2  strong {font-size:13px;  color:#3e647e;}

.select { background:#f8f8f8  url(../images/drop-arrow.png) no-repeat right center; padding:6px 25px 2px 10px; color:#000; border:1px solid #dddddd;  overflow: hidden;  position: absolute; min-width: 133px; font-weight:bold; font-size:13px;  height:18px; line-height:normal; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
select.styled {  opacity: 0; position:absolute; min-width: 170px; z-index: 5;  margin-top:0px; font-weight:normal; height:28px; margin-right:15px;  line-height:normal;}
#search-filter-wrap  select.styled {top:-4px;}

#search-filter-wrap {padding:10px 0px;position:relative; z-index:15; margin-bottom:40px;}
.leftalign-criteria{width:95%;float:left;margin-top:10px;border: 1px solid #D4D4D4;margin-left:2.5%;}
.skill-drop{float:left;background:#f7f5f5;width:100%;}
.skill-drop2{padding-bottom:11px;border-bottom:1px solid #d4d4d4;}
.skill-drop ul{list-style:none;}
.skill-drop ul li{float:left;}
.skill-drop ul li a{color:black;display:block;}

.skill-drop ul li a.active{background:#000000;display:block;border:1px solid #d4d4d4; border-radius:3px 3px 3px 3px;margin-left: 6px;margin-top: 7px;padding-left: 12px;padding-right: 12px;padding-top: 4px;text-align: center;width: 53px;color:#ffffff; }
.skill-drop ul li a.block-1{background: none repeat scroll 0 0 white;border: 1px solid #D4D4D4;border-radius: 3px 3px 3px 3px;margin-left: 6px;margin-top: 7px;padding-left: 12px;padding-right: 12px;padding-top: 4px;text-align: center;width: 53px;}
.search-link a {background:#f5f5f5 url(../images/search-icon.png) no-repeat 5px 3px; border:1px solid #b8b9b9; text-decoration:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; padding:3px 10px 3px 25px; margin-left:10px; color:#5a5b5b; font-size:13px;  font-family:'Swis721BTRoman', Arial, Helvetica, Sans-serif;}
.search-link a:hover{background:#dddddd url(../images/search-icon.png) no-repeat 5px 3px; }
.search-link a.active{background:#dddddd url(../images/search-icon.png) no-repeat 5px 3px; }
.search-box {background: none repeat scroll 0 0 #F5F5F5;margin-top:10px;border: 1px solid #B8B9B9;border-radius: 3px 3px 3px 3px;display: inline-block;font-size: 13px;margin-bottom: 5px;margin-right: 8px;padding-left: 10px;width: 109px;}
.search-box  a {	color: #5A5B5B;float: right;margin-right: 7px;}

.search-box-wrap {display:none; position:absolute; top:42px; left:0px; right:0px; background:#FFF url(../images/tab-bg.jpg) repeat-x bottom left; background-position:0px 0px;  border-left:1px solid #dadada; border-right:1px solid #dadada; border-bottom:2px solid #CCC; padding:10px; }
.txt{float:left;}
.rightalignsource{position: relative;top: -6px;}
.btn3{margin-left:15px;margin-right:125px;}
.texts{display:block;float:left;margin-right:11px;margin-top:12px;}
.source-icon ul li {float:left; margin-left:5px; border:2px solid #FFF;}
.source-icon ul li.active {border:2px solid #aaabab;}
.source-icon ul li a{width:20px; height:18px; float:left; }
.source-icon ul li a.Monster_India{background:url(../images/resume-parse-icon.png) no-repeat -88px 0px; }
.source-icon ul li a.Monster_US{background:url(../images/resume-parse-icon.png) no-repeat -88px 0px; }
.source-icon ul li a.Naukri{background:url(../images/resume-parse-icon.png) no-repeat -146px 0px; }
.source-icon ul li a.Timesjob{background:url(../images/resume-parse-icon.png) no-repeat -205px 0px; }
.source-icon ul li a.Linkedin{background:url(../images/resume-parse-icon.png) no-repeat -58px 0px; }
.source-icon ul li a.Zoominfo{background:url(../images/resume-parse-icon.png) no-repeat -117px 0px; }
.source-icon ul li a.Dice{background:url(../images/resume-parse-icon.png) no-repeat -176px 0px; }
.source-icon ul li a.salesforce{background:url(../images/resume-parse-icon.png) no-repeat -29px 0px; }
.source-icon ul li a.hiresys{background:url(../images/resume-parse-icon.png) no-repeat 0px 0px; }
.source-icon ul li a.others{background:url(../images/resume-parse-icon.png) no-repeat -235px 0px; }
.source-icon ul li a.Career_Builder_India{background: "CB"}
.source-icon ul li a.Career_Builder_US{background: "CB"}

.monster-active{background:url(../images/resume-parse-icon.png) no-repeat -88px -34px; }
.naukri-active{background:url(../images/resume-parse-icon.png) no-repeat -146px -34px; }
.timesjob-active{background:url(../images/resume-parse-icon.png) no-repeat -205px -34px; }
.linkedin-active{background:url(../images/resume-parse-icon.png) no-repeat -58px -34px; }
.zoominfo-active{background:url(../images/resume-parse-icon.png) no-repeat -117px -34px; }
.dice-active{background:url(../images/resume-parse-icon.png) no-repeat -176px -34px; }
.salesforce-active{background:url(../images/resume-parse-icon.png) no-repeat -29px -34px; }
.hiresys-active{background:url(../images/resume-parse-icon.png) no-repeat 0px -34px; }
.others-active{background:url(../images/resume-parse-icon.png) no-repeat -235px -34px; }

.nsearch {background:url(../images/search-icon1.png) no-repeat 0px 0px; width:14px; height:14px; display:inline-block; }
.search-view{background:url(../images/view-icon1.png) no-repeat 0px 0px; width:19px; height:14px; display:inline-block; margin-left:10px;}
.bookmark {background:url(../images/star-icon.png) no-repeat 0px 0px; width:15px; height:14px; display:inline-block; margin-left:10px;}

.list-contnt-wrap { position:relative; height:46px; text-align:center; margin-top:5px; background:url(../images/tab-bg.jpg) repeat-x bottom left;}
.list-contnt-wrap ul li {float:left; margin-left:10px;}
.list-contnt-wrap  .rightalign ul li {float:left; margin-right:10px;}

.list-contnt-wrap ul li.active  a {border:1px solid #dbdbdb; border-bottom:1px solid #FFF; color:#ef8013;}
.list-contnt-wrap ul li  a {padding:3px 10px; background:#FFF; float:left; color:#787878;}

.centeralign {display:inline-block; margin-top:3px;}

.list-profile-wrap {position:relative; background:url(../images/tab-bg.jpg) repeat-x bottom left; padding-bottom:25px;  padding-top:5px;}
.col1, .col2, .col3 {float:left; width:40%;}
.col2{float:left; width:20%; margin:0px 20px;  }
.col3 {width:30%; float:right;}

.list-profile-wrap ul li {margin-left:5px;}
.list-profile-wrap ul li, .list-profile-wrap ul li a {float:left; }
.list-profile-wrap ul li.li-first {float:left; width:119px; height:25px; background:url(../images/source-bg.jpg) no-repeat top left; margin-right:10px; margin-top:-3px; position:relative; z-index:5;}
.list-profile-wrap ul li.li-first a {color:#626262; padding:2px 10px;}
.list-profile-wrap ul li.li-first  .drop-menu {width:212px; position:absolute; top:25px; padding-top:15px; right:-10px; background:url(../images/drop-down-topbg.png) no-repeat top left; display:none; z-index:10; }
.list-profile-wrap ul li.li-first  ul {width:212px; background:url(../images/drop-down-bg.png) no-repeat bottom left; float:left; }
.list-profile-wrap ul li.li-first  ul li {float:left; width:192px; padding:5px 10px 5px 10px; border-bottom:1px dashed #bdbdbd; margin:0px; }
.list-profile-wrap ul li.li-first  ul li.li-last {border:none;}
.list-profile-wrap ul li.li-first  ul li  span.leftalign{width:28px; height:22px; display:inline-block;}
.list-profile-wrap ul li.li-first  ul li  span.font-small-color{color:#afafaf; font-size:12px;}
.list-profile-wrap ul li.li-first  ul li  p{margin:0px 10px 0px; line-height:18px;}
.list-profile-wrap ul li a.source-link {background:url(../images/link-icon.png) no-repeat top left; width:22px; height:20px;}
.list-profile-wrap ul li a.source-add {background:url(../images/link-icon.png) no-repeat -31px 0px; width:22px; height:20px;}
.list-profile-wrap ul li a.source-delete {background:url(../images/link-icon.png) no-repeat -63px 0px; width:22px; height:20px;}
.list-profile-wrap ul li a.source-resume {background:url(../images/view-icon1.png) no-repeat 0px 0px; width:19px; height:14px;}
.ui-autocomplete-loading { background: white url('/images/ui-anim_basic_16x16.gif') right center no-repeat; }
/* :::::: Form Section Begins :::::: */


.input-txt { border:1px solid #bfbfbf; -webkit-border-radius:5px; -moz-border-radius:5px;border-radius:5px; padding:5px 10px; margin:10px 0px; position:relative;}
.input-txt1{background:#f7f5f5;width:70%;border:none;}
.input-txt5{margin-top:0px;width:70%;}
.input-txt2{border: medium none;margin-left: 5%;margin-top: 6px;width: 70%;}
.input-txt6{width:70%;margin-left:0px;}
.input-txt3{background:#f7f5f5; width:70%; border:none;margin-top:8px;margin-left:5%;}
.location{background: none repeat scroll 0 0 #F7F5F5;margin-top: 25px;}
.skills-one{}

.input-txt  input.text{border:none; width:100%; margin-right:40px; background:none;}
.form-inputtext1{margin:0px; padding:5px 9px;border:none;}
.form-inputtext5{margin:0px; padding:5px 14px;}
.form-inputtextborder{border-bottom:none;}
.form-inputtext6{border: 1px solid #D4D4D4;border-radius: 5px 5px 5px 5px;color: #D4D4D4;margin: 3px 0 0 13px;padding: 1px 17px;width: 87%;}.criteriaclose{background: none repeat scroll 0 0 #F7F7F7;border: 1px solid #D4D4D4;color: #A1A1A1;float: right;margin-right: 2px;margin-top: 2px;padding: 0px 6px;}
.dropclose{float:right;margin-right: 8px;}
.dropbuttonB{padding-left:2px;}
.input-line1{border-bottom:1px solid #d4d4d4;}
.input-line2{border-bottom:1px solid #d4d4d4;padding-bottom:3px;}
.input-line3{border-bottom:1px solid #d4d4d4;border-top:1px solid #d4d4d4;}
.input-txt  input.btn{border:none; width:40px; height:29px;  background:url(../images/search-icon.png) no-repeat center center; position:absolute; top:0px; right:0px; cursor:pointer;}
.form-inputtxt, .form-selecttxt-large {width:100%; margin:5px 0px 10px;}
.form-inputtext{ margin:2px; padding:3px 9px; border-radius:3px; border:1px solid #d4d4d4;}
.form-inputtext-big{width:92%;}
.searchFormFirstTd{width:19%;}
.searchFormSecondTd{width:5%;}
.searchFormTrdTd{width:80%;}
.arrow{background: url("../images/sort-arrow.png") no-repeat scroll center center #F8F8F8;margin-left:13px;border: 1px solid #D4D4D4;border-radius: 3px 3px 3px 3px;padding:2px 13px 2px;}
.drop-down{margin-top:0px;border:none;}
.searchboxes{margin-left: 2.5%;width: 95%;}
.allfollow{margin-left:8px;}
.allfollowin{background: none repeat scroll 0 0 #F7F5F5;}
.border-1{border:1px solid #d4d4d4; margin-left:5%;margin-top: 7px;	background:#f7f5f5;border-right:none;}

.anyfollowin{width:100%}
.exp{margin-left:16px;margin-bottom:2px;}
.skill-one{}
.skill-left{background:#f7f5f5;}

.text-two{color:#ef8013;margin-top:1px;margin-bottom:0px;margin-left:2.5%;font-weight:bold;padding-bottom:3px;}

.text-three{margin-left:2px;}
.close-one{float: right;font-weight:normal;}
.close-two{font-weight:normal;padding:0 3px 0 3px;}
.criteriaclose-2{position:relative;right:-399px;font-weight:normal;}
.close-plus{padding-left:3px;padding-right:3px;padding-top:1px;}

/* added by Jaymin*/
/* :::::: Form Section Ends :::::: */

/* :::::: Tabular data Section Begins :::::: */

.data-table thead tr th {background:#000; color:#FFF; font-size:13px; font-weight:normal;}
.data-table thead tr th.txtleft, .data-table tbody tr td.txtleft {text-align:left;}
.data-table tbody tr td {background:#FFF; color:#676767; font-size:14px; font-weight:normal; text-align:center; line-height:18px; border-bottom:1px solid #bababa; padding-left:10px;}
.data-table tbody tr td span.icon {width:28px; height:22px; display:inline-block;  }
.data-table tbody tr.tr-desc td {text-align:left; font-size:13px;}

/* :::::: Tabular data Section Ends :::::: */

/* :::::: Boolean Search :::::: */
#mainField{border:none}
.level1Field{border: 1px solid #d4d4d4; background: #FFFFFF; width: 95%}
.level2Field{border: 1px solid #d4d4d4; background: #F7F5F5; width:96%}
.level0Criterion{ display:block; margin:2px; border-bottom:1px solid #d4d4d4; background:#F7F5F5}
.level1Criterion{ display:block; margin:2px; border-bottom:1px solid #d4d4d4; background:#FFFFFF}
.level2Criterion{ display:block;  margin:2px; border-bottom:1px solid #d4d4d4; background:#F7F5F5}
.cross{background: none repeat scroll 0 0 #F7F7F7;border: 1px solid #D4D4D4;color: #A1A1A1;float: right;margin-right: 2px;margin-top: 1px;padding: 0px 6px;}
.level1Plus{background: none repeat scroll 0 0 #F7F7F7;border: 1px solid #D4D4D4;color: #A1A1A1;float: right;margin-right: 2px;margin-top: 1px;padding: 0px 6px;}
.level2Plus{background: none repeat scroll 0 0 #F7F7F7;border: 1px solid #D4D4D4;color: #A1A1A1;float: right;margin-right: 2px;margin-top: 1px;padding: 0px 6px;}
.level1BButton{background: none repeat scroll 0 0 #F7F7F7;border: 1px solid #D4D4D4;color: #A1A1A1;float: right;margin-right: 2px;margin-top: 1px;padding: 0px 6px;}
#boolean{background: none repeat scroll 0 0 #F7F7F7;border: 1px solid #D4D4D4;color: #ef8013;float: right;margin-right: 2px;margin-top: 1px;padding: 0px 6px;}
.fieldLabel{color:#ef8013;}
#searchMode{float:right}
#searchModeSpan{float:right;color:#ef8013;}
#filterByDiv{float:left;}
#sortByDiv{float:left;}
/* :::::: Boolean Ends :::::: */


/* :::::: Content Section Ends :::::: */


/* :::::: Footer Section Begins :::::: */

#footr-wrap {height:30px; background:#FFF; border-top:1px solid #d8eaf6;}
.footr {float:left; margin:7px 15px; color:#0081be; font-size:12px; font-family:'Swis721BTRoman', Arial, Helvetica, Sans-serif, Serif;}

/* :::::: Footer Section Ends :::::: */

	.ui-autocomplete {
		max-height: 500px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
	}
	/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
	
	.ui-autocomplete-category {
		font-weight: bold;
		padding: .2em .4em;
		margin: .8em 0 .2em;
		line-height: 1.5;
	}
	
